.box-info {
  margin: 1px auto;
  display: block;
  margin-top: 100px;
}

.App-logo {
  /* animation: App-logo-spin infinite 1s linear; */
  height: 50vmin;
  pointer-events: none;
  margin: 1px auto;
  display: block;

  /* align-items: center;
  justify-content: center; */
}
.App-logo2 {
  height: 30vmin;
  pointer-events: none;
  margin: 1px auto;
  display: block;
}
.App-logo3 {
  height: 30vmin;
  pointer-events: none;
  margin: 1px auto;
  display: block;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 100%;
}

/* *********************************banner stufff************* */
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.border1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* **********************paw scroll **************************** */

.pawGif {
  margin-left: 85%;
  margin-top: -11%;
  height: 300px;
  width: 300px;
  position: fixed;
  visibility: visible;
}
.Paws2 {
  margin-left: 85%;
  margin-top: -11%;
  height: 300px;
  width: 300px;
  position: fixed;
  visibility: hidden;
}
/* ******************************** Contact me page css**************** */

/* *********************CONTACT FORM *********************************** */

.contactme-banner1 {
  background-color: black;
  opacity: 0.8;
  width: 50%;
  margin-left: -5%;
  border-radius: 10px;
  padding: 10px;
}
.button {
  float: right;
  padding: 10px;
}

.contactme-banner2 {
  background-color: black;
  /* opacity: 0.8; */
  width: 65%;

  margin-left: 50%;
  border-radius: 10px;
  padding: 20px;
  margin-top: -40%;
}

.center {
  align-items: center;
  justify-content: center;
}
